@font-face {
    font-family: 'RoxboroughCF';
    src: url('fonts/RoxboroughCF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 130px;
    background-color: #d9d9d9;
}

.logo {
    width: 120px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.menu {
    flex: 0.96;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.left {
    display: flex;
    gap: 10px;
}

.right {
    display: flex;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    background: #7ed957;
    border-radius: 20px;
    font-weight: bold;
    color: black;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    display: inline-block;
}

nav a:hover {
    transform: scale(1.05);
    background-color: #7ed957;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
    color: #333;
}

.home-page {
    display: flex;
    padding: 60px 30px 30px 30px;
    gap: 30px;
}

.left-photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-photo img {
    border-radius: 0 0 60px 0;
    max-width: 550px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 0 1px transparent;
    border: none;
  }

.right-title {
    flex: 1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-title h1 {
    font-size: 48px;
    color: #333;
    margin: 0;
    font-weight: 600;
}

.right-title h5 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #555;
}

.right-title .highlight {
    color: #FFB84C ;
}

.home-description {
    background-color: transparent;
    padding: 20px 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 20px;
    margin: 20px auto;
    text-align: center;
    max-width: 800px;
    color: #555;
    font-weight: 400;
    line-height: 1.6;
}

.read-more {
    background-color: #7ed957;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    font-family: 'Roboto', sans-serif;
    margin: 10px auto 40px;
    padding: 15px 30px;
    max-width: 200px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.read-more a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.read-more:hover {
    background-color: #32CD32;
    transform: scale(1.05);
}

.about-me.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 100px;
}

.about-container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.about-left {
    flex: 1;
}

.about-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-right img {
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    height: auto;
    box-shadow: none;
    border: none;
}
.content {
    max-width: 500px;
    color: #555;
    font-weight: 400;
    line-height: 1.6;
}

.who-title {
    font-size: 2.4em;
    margin-bottom: 10px;
    color: #444;
    font-family: 'RoxboroughCF', serif;
    font-weight: normal;
}

.content h2 {
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: 600;
    color: #333;
}

.content h2 span {
    color: #FFB84C ;
}

.content h4 {
    font-size: 2em;
    margin-bottom: 15px;
    font-weight: 400;
    color: #666;
}

.content p {
    padding: 10px 0 30px 0;
}

.btn-group a {
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: #7ed957;
    border-radius: 10px;
    border: 2px solid #7ed957;
    font-weight: 500;
    transition: .3s;
}

.btn-group a:hover:nth-child(1) {
    color: #32CD32;
    background: transparent;
}

.btn-group a:nth-child(2) {
    color: #7ed957;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}

.btn-group a:hover:nth-child(2) {
    color: #fff;
    background: #32CD32;
}

.social-links {
    margin-top: 30px;
}

.social-links img {
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.2);
}

.portfolio-section {
    padding: 100px 50px;
    text-align: center;
    color: #555;
    font-weight: 400;
}

.portfolio-title {
    font-size: 48px;
    font-family: 'RoxboroughCF', serif;
    margin-bottom: 30px;
    color: #444;
    font-weight: normal;
}

.portfolio-intro {
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto 60px auto;
    font-family: 'Roboto', sans-serif;
    color: #555;
    line-height: 1.6;
    font-weight: 400;
}

.portfolio-intro p {
    font-family: 'Roboto', sans-serif;
}

.project-tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tab {
    padding: 20px 30px;
    background: white;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    position: relative;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.tab:hover {
    transform: scale(1.05);
    background-color: #7ed957;
    color: white;
}

.back-to-top {
    display: inline-block;
    margin: 80px auto 50px;
    padding: 10px 20px;
    background-color: #7ed957;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: 14px;
}

.back-to-top:hover {
    transform: scale(1.05);
    background-color: #32CD32;
    color: white;
}

.footer-section {
    background: #d9d9d9;
    padding: 40px 20px;
    text-align: center;
    border-top: 2px solid #ccc;
}

.footer-media a {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.footer-media a:hover {
    transform: scale(1.2);
}
